import /init.recovery.encryption.rc

# Set SELinux to Permissive
on early-init
    loglevel 7
    write /sys/fs/selinux/enforce 0

on early-init
    # UFS Tuning (taken from amethyst tree)
    write /sys/bus/platform/devices/1d84000.ufshc/auto_hibern8 0
    write /sys/bus/platform/devices/1d84000.ufshc/clkgate_enable 0
    write /sys/bus/platform/devices/1d84000.ufshc/enable_wb_buf_flush 0

on property:twrp.modules.loaded=true && property:twrp.firmware.loaded=
    mkdir /mnt/vendor 0775 shell system
    mkdir /mnt/vendor/persist 0775 shell system

    # Mount firmware - Needed for ADSP firmwares
    mount vfat /dev/block/bootdevice/by-name/modem${ro.boot.slot_suffix} /vendor/firmware_mnt ro
    # Mount persist - Needed for haptics
    mount ext4 /dev/block/bootdevice/by-name/persist /mnt/vendor/persist/ ro

    # Load ADSP firmware for PMIC
    restorecon_recursive /vendor/firmware_mnt
    wait /vendor/firmware_mnt/image/adsp.mdt

    wait /sys/kernel/boot_adsp/boot
    write /sys/kernel/boot_adsp/boot 1

    setprop twrp.firmware.mounted true

service runatboot /system/bin/runatboot.sh
    user root
    group root
    disabled
    oneshot
    seclabel u:r:recovery:s0

on init
    start vendor.boot-qti

on early-fs
    wait /dev/block/platform/soc/${ro.boot.bootdevice}
    symlink /dev/block/platform/soc/${ro.boot.bootdevice} /dev/block/bootdevice
    write /proc/sys/walt/sched_lib_name "recovery,magiskboot,Updater,updater,update_engine_sideload"
    write /proc/sys/walt/sched_lib_mask_force 255

on fs
    # All entries in recovery.fstab
    write /sys/block/sda/queue/read_ahead_kb 2048
    write /sys/block/sda/queue/nr_requests 256
    write /sys/block/sda/queue/discard_max_bytes 134217728

    # Persist partition
    write /sys/block/sdf/queue/read_ahead_kb 2048
    write /sys/block/sdf/queue/nr_requests 256

on boot
    start runatboot
    setprop sys.usb.config adb
