# Copyright (C) 2026 chickendrop89
# Copyright (C) 2026 Ubuntuify
# SPDX-License-Identifier: GPL-3.0-only

on property:twrp.firmware.mounted=true 
    start vendor.qseecomd

# Runs after qseecomd runs
on property:vendor.sys.listeners.registered=true
    exec u:r:su:s0 -- /sbin/resetprop ro.build.version.release 16
    exec u:r:su:s0 -- /sbin/resetprop ro.build.version.release_or_codename 16
    exec u:r:su:s0 -- /sbin/resetprop ro.build.version.security_patch 2026-08-05
    exec u:r:su:s0 -- /sbin/resetprop ro.vendor.build.security_patch 2026-08-05
    start vendor.ssgtzd
    start vendor.keymint-qti
    start vendor.gatekeeper-qti

# Runs after decryption
on property:twrp.all.users.decrypted=true
    stop keystore2

    stop vendor.keymint-qti
    stop vendor.qseecomd
    stop vendor.ssgtzd
    stop vendor.gatekeeper-qti

# Runs after decryption
on property:twrp.all.users.decrypted=true
    setprop twrp.firmware.mounted false

    write /sys/bus/platform/devices/1d84000.ufshc/auto_hibern8 10000
    write /sys/bus/platform/devices/1d84000.ufshc/clkgate_enable 1
    write /sys/bus/platform/devices/1d84000.ufshc/enable_wb_buf_flush 1

# Runs after decryption (when user has dual apps activated/second space)
on property:twrp.decrypt.done=true && property:twrp.user.999.decrypt=0
    setprop twrp.firmware.mounted false

    write /sys/bus/platform/devices/1d84000.ufshc/auto_hibern8 10000
    write /sys/bus/platform/devices/1d84000.ufshc/clkgate_enable 1
    write /sys/bus/platform/devices/1d84000.ufshc/enable_wb_buf_flush 1

# Runs if decryption failed/was canceled
on property:of_decryption_failed=true
    setprop twrp.firmware.mounted false

    write /sys/bus/platform/devices/1d84000.ufshc/auto_hibern8 10000
    write /sys/bus/platform/devices/1d84000.ufshc/clkgate_enable 1
    write /sys/bus/platform/devices/1d84000.ufshc/enable_wb_buf_flush 1

on property:ro.twrp.fastbootd=1 && property:twrp.firmware.mounted=true
    setprop twrp.firmware.mounted false

# Keep firmware mounted for ADSP and PMIC battery/charging monitoring


